* {
    font-family: "Lucida Console", "Courier New", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    overflow: auto;
    min-height: 400px;
    background-color: rgb(250, 235, 215);
    padding: 30px;
    border-radius: 5px;
    border: 3px ridge black;
}

.btn {
    display: inline-block;
    background: rgb(252, 248, 242);
    color: black;
    border: 3px ridge black;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    transition: transform 0.3s;
}

header {
    display: flex;
    justify-content: center;
    font-size: 35px;
    border-bottom: 2px ridge #000;
}

.btn:hover {
    background: rgb(254, 253, 250);
}

.btn:active {
    transform: scale(0.98);
}

.btn-adding {
    transform: rotate(45deg);
    color: red
}


.btn-plus {
    font-size: 35px;
    font-weight: 500;
    padding: 5px 15px 5px 15px;
    border-radius: 50%;
}

#recipe-tab {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#recipe-wrapper {
    background-color: rgb(252, 248, 242);
    border: 3px ridge black;
    border-radius: 10px;
    margin: 10px 100px 10px 10px;
    padding: 10px 20px 10px 20px;
}

#recipe-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc-list {
    font-size: 20px;
    padding-left: 20px;
}

.desc-subtitle {
    margin-bottom: 3px;
}

.ing-subtitle {
    margin-right: 10px;
}

#description {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px ridge black;
}

.edit-tab {
    display: flex;
    align-items: flex-end;
}

.form-wrapper {
    background-color: rgb(252, 248, 242);
    border: 3px ridge black;
    border-radius: 10px;
    margin: 10px 100px 10px 10px;
    padding: 10px 20px 10px 20px;
}



.recipe-input {
    display: block;
    font-size: 22px;
    background-color: rgb(252, 248, 242);
    border: none;
    border-radius: 6px;
    padding: 3px;
    padding-left: 5px;
    width: 100%;
}

.recipe-input.recipe-input-title {
    font-weight: bold;
    font-size: 26px;
}

.recipe-input:focus {
    outline: 1px ridge black;
}


.new-desc-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 2px ridge black;
}

.add-new-recipe-li {
    display: block;
    font-size: 22px;
    background-color: rgb(252, 248, 242);
    border: 2px ridge black;
    border-radius: 6px;
    padding: 3px;
    padding-left: 5px;
    width: 100%;
    min-height: 100px;
}